@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss"; */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smooth: always;
}


body{
  background: #000C2F;
}

/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
